@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: url("../img/BG.jpg"), linear-gradient(90deg, #c7c5f4, #776bcc);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.screen {
  background: linear-gradient(60deg, #ffffff, #ebebeb);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #171718;
  border-radius: 10px;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 220px;
  width: 220px;
  background: #400794;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape2 {
  height: 200px;
  width: 150px;
  background: #230454;
  top: 130px;
  right: -70px;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 400px;
  width: 200px;
  background: #320667;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #252525;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: bolder;
  width: 75%;
  transition: 0.2s;
}

.field-icon {
  float: right;
  left: -70px;
  margin-top: 13px;
  position: relative;
  z-index: 1;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  background: #5d3bf3;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  font-weight: bolder;
  display: flex;
  align-items: center;
  width: 100%;
  color: #ffffff;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #ffffff;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  .button__icon {
    color: #000;
    transition: 0.5s, color 0.5s, box-shadow 0.5s;
  }
  background: #ffffff;
  color: black;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}
