body {
  background-image: url("../img/BG.jpg");
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  overflow: hidden;
  position: relative;
}

#pose1 {
  height: 10vw;
  width: 20vw;
  position: absolute;
  font-size: 1vw;
  animation: slide-up 0.5s ease-in-out forwards;
}

#pose1 b {
  animation: slide-up-b 0.5s ease-in-out forwards;
}

#pose1 h1 {
  animation: slide-up-h1 0.5s ease-in-out forwards;
}

@keyframes slide-up {
  0% {
    top: 50vh;
    font-size: 1.1vw;
    width: 30vw;
    height: 15vw;
  }
  100% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
}
@keyframes slide-up-b {
  0% {
    top: 50vh;
    font-size: 1.1vw;
  }
  100% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
}

@keyframes slide-up-h1 {
  0% {
    top: 50vh;
    font-size: 1.9vw;
  }
  100% {
    top: -20px;
    font-size: 0.8vw;
  }
}
#pose-1 {
  height: 10vw;
  width: 20vw;
  position: absolute;
  font-size: 0.5vw;
  animation: slide-down 0.5s ease-in-out forwards;
}

#pose-1 b {
  animation: slide-down-b 0.5s ease-in-out forwards;
}

#pose-1 h1 {
  animation: slide-down-h1 0.5s ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
  100% {
    top: 40vh;
    font-size: 1.1vw;
    width: 30vw;
    height: 15vw;
  }
}

@keyframes slide-down-b {
  0% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
  100% {
    top: 50vh;
    font-size: 1.1vw;
  }
}

@keyframes slide-down-h1 {
  0% {
    top: -20px;
    font-size: 0.8vw;
  }
  100% {
    top: 50vh;
    font-size: 1.9vw;
  }
}

#pose2 {
  position: absolute;
  font-size: 1vw;
  animation: slide-up-pose2 0.5s ease-in-out forwards;
}
@keyframes slide-up-pose2 {
  0% {
    top: 100vh;
    font-size: 1.1vw;
  }
  100% {
    top: 300px;
    font-size: 0.5vw;
    color: rgb(0, 0, 0);
  }
}

#pose-2 {
  position: absolute;
  font-size: 0.5vw;
  animation: slide-down-pose-2 0.5s ease-in-out forwards;
}
@keyframes slide-down-pose-2 {
  0% {
    top: 300px;
    font-size: 0.5vw;
    color: rgb(0, 0, 0);
  }
  100% {
    top: 100vh;
    font-size: 1.1vw;
  }
}

#pose3 {
  position: absolute;
  height: 10vw;
  width: 20vw;
  font-size: 0.5vw;
  position: absolute;
  animation: slide-up-pose3 0.5s ease-in-out forwards;
}
#pose3 b {
  animation: slide-up-pose3-b 0.5s ease-in-out forwards;
}

#pose3 h1 {
  animation: slide-up-pose3-h1 0.5s ease-in-out forwards;
}
@keyframes slide-up-pose3 {
  0% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
  100% {
    top: -200px;
    font-size: 0.5vw;
    color: gray;
  }
}
@keyframes slide-up-pose3-h1 {
  0% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
  100% {
    top: -200px;
    font-size: 0.5vw;
    color: gray;
  }
}
@keyframes slide-up-pose3-b {
  0% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
  100% {
    top: -200px;
    font-size: 0.5vw;
    color: gray;
  }
}
#pose-3 {
  position: absolute;
  height: 10vw;
  width: 20vw;
  font-size: 0.5vw;
  position: absolute;
  animation: slide-down-pose-3 0.5s ease-in-out forwards;
}
#pose-3 b {
  animation: slide-down-pose-3-b 0.5s ease-in-out forwards;
}

#pose-3 h1 {
  animation: slide-down-pose-3-h1 0.5s ease-in-out forwards;
}
@keyframes slide-down-pose-3 {
  0% {
    top: -200px;
    font-size: 0.5vw;
    color: gray;
  }
  100% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
}
@keyframes slide-down-pose-3-h1 {
  0% {
    top: -200px;
    font-size: 0.5vw;
    color: gray;
  }
  100% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
}
@keyframes slide-down-pose-3-b {
  0% {
    top: -200px;
    font-size: 0.5vw;
    color: gray;
  }
  100% {
    top: -20px;
    font-size: 0.5vw;
    color: gray;
  }
}
#pose-4 {
  display: none;
}
.question {
  top: 50vh;
  background-color: rgb(235, 233, 233);
  width: 30vw;
  height: 15vw;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question h1 {
  margin-top: 8px;
  text-align: center;
  font-size: 1.9vw;
}

.question hr {
  width: 10vw;
}

#q2 {
  display: none;
}
#q3 {
  display: none;
}
b {
  font-size: 1.1vw;
}

input[type="radio"] {
  width: 2vw;
  height: 1vw;
}

#next {
  position: fixed;
  bottom: 100px;
  right: 430px;
}

#submit {
  background-color: rgb(236, 255, 26);
  display: none;
  position: fixed;
  bottom: 100px;
  right: 430px;
}

#submit:hover {
  background-color: #6666e2;
  color: rgb(255, 255, 255);
}

#tombolkembali {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 430px;
  background-color: #6666e2;
  color: rgb(255, 255, 255);
}

#tombolKembali:hover {
  background-color: white;
  color: rgb(57, 56, 56);
}

#tombolkembali2 {
  position: fixed;
  bottom: 100px;
  left: 430px;
  background-color: #6666e2;
  color: rgb(255, 255, 255);
}

#tombolKembali2:hover {
  background-color: white;
  color: rgb(57, 56, 56);
}

button {
  color: #000000;
  font-size: 0.7vw;
  border-radius: 50px;
  padding: 0.8vw;
  margin-left: 9px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: white;
  font-weight: bolder;
  border: 2px solid rgb(174, 168, 193);
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

button:hover {
  background-color: #6666e2;
  color: rgb(255, 255, 255);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}

@media (max-width: 808px) {
  .question {
    padding-bottom: 50px;
  }
  #next {
    right: 50px;
  }
  #submit {
    right: 50px;
  }
  #tombolkembali {
    left: 50px;
  }
  #tombolkembali2 {
    left: 50px;
  }
}
